<h1>login</h1>

<form action="/user/login" method="POST">

    <label for="email">email:</label>
    <input type="email" id="email" name="email" required>
    <label for="password">password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">login</button>

</form>

<a href="/user/register">register</a>
